In [3]:
import pandas as pd
cc =pd.read_csv("ccdefault.csv")

In [29]:
from sklearn.preprocessing import LabelEncoder
X = cc.iloc[:,1:23]
y = cc.iloc[:,-1]
X.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5
0,20000,2,2,1,24,2,2,-1,-1,-2,...,3102,689,0,0,0,0,689,0,0,0
1,120000,2,2,2,26,-1,2,0,0,0,...,1725,2682,3272,3455,3261,0,1000,1000,1000,0
2,90000,2,2,2,34,0,0,0,0,0,...,14027,13559,14331,14948,15549,1518,1500,1000,1000,1000
3,50000,2,2,1,37,0,0,0,0,0,...,48233,49291,28314,28959,29547,2000,2019,1200,1100,1069
4,50000,1,2,1,57,-1,0,-1,0,0,...,5670,35835,20940,19146,19131,2000,36681,10000,9000,689

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
import time
from sklearn.metrics import accuracy_score
import numpy as np
start = time.clock()
train_acc = []
test_acc =[]
for i in range(10):
    X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.1,random_state=i)
    dt = DecisionTreeClassifier()
    dt.fit(X_train, y_train)
    y_pred_test=dt.predict(X_test)
    y_pred_train=dt.predict(X_train)
    train_acc.append(round(accuracy_score(y_train,y_pred_train),5))
    test_acc.append(round(accuracy_score(y_test,y_pred_test),5)) 
end = time.clock()
#Report in table format
from prettytable import PrettyTable
output_train_acc = ["Training results",round(np.mean(train_acc),5),round(np.std(train_acc),5)]
output_test_acc =["Testing results",round(np.mean(test_acc),5),round(np.std(test_acc),5)]
for i in range(10):
    output_train_acc.insert(-2,train_acc[i])
    output_test_acc.insert(-2,test_acc[i])

pt = PrettyTable()
pt.field_names = ["Samples size", "1","2","3","4","5","6","7","8","9","10","Mean","SD"]
pt.add_row(output_train_acc)
pt.add_row(output_test_acc)
print(pt)
print('Run time: ', end - start,' s')

C:\Users\Alex_\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead

+------------------+---------+---------+---------+---------+---------+---------+---------+--------+---------+---------+---------+---------+
|   Samples size   |    1    |    2    |    3    |    4    |    5    |    6    |    7    |   8    |    9    |    10   |   Mean  |    SD   |
+------------------+---------+---------+---------+---------+---------+---------+---------+--------+---------+---------+---------+---------+
| Training results | 0.99937 |  0.9993 | 0.99933 | 0.99933 |  0.9993 | 0.99933 | 0.99937 | 0.9993 | 0.99922 | 0.99948 | 0.99933 |  6e-05  |
| Testing results  |  0.723  | 0.72067 |  0.735  | 0.72767 | 0.72233 | 0.72033 |  0.712  |  0.72  |  0.718  | 0.73033 | 0.72293 | 0.00622 |
+------------------+---------+---------+---------+---------+---------+---------+---------+--------+---------+---------+---------+---------+
Run time:  8.61468210000021  s

C:\Users\Alex_\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead

In [22]:
from sklearn.model_selection import cross_val_score
start = time.clock()
dt2 = DecisionTreeClassifier()
dt2.fit(X_train, y_train)
y_pred_test=dt2.predict(X_test)
y_pred_train=dt2.predict(X_train)
train_acc = np.round(cross_val_score(dt2,X=X_train,y=y_train,cv=10,n_jobs=-1),5)
test_acc = np.round(cross_val_score(dt2,X=X_test,y=y_test,cv=10,n_jobs=-1),5)
end = time.clock()
#Report in table format 
output_train_acc = ["Training results",round(np.mean(train_acc),5),round(np.std(train_acc),4)]
output_test_acc =["Testing results",round(np.mean(test_acc),5),round(np.std(test_acc),4)]
for i in range(10):
    output_train_acc.insert(-2,train_acc[i])
    output_test_acc.insert(-2,test_acc[i])
pt2 = PrettyTable()
pt2.field_names = ["Samples size", "1","2","3","4","5","6","7","8","9","10","Mean","SD"]
pt2.add_row(output_train_acc)
pt2.add_row(output_test_acc)
print(pt2)
print('Run time:  ', end - start,' s')

C:\Users\Alex_\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead

+------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+--------+
|   Samples size   |    1    |    2    |    3    |    4    |    5    |    6    |    7    |    8    |    9    |    10   |   Mean  |   SD   |
+------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+--------+
| Training results | 0.72862 | 0.72381 | 0.71481 | 0.71926 | 0.72667 | 0.72926 | 0.72259 | 0.73148 | 0.73694 | 0.72842 | 0.72619 | 0.006  |
| Testing results  | 0.68439 | 0.72093 | 0.70333 | 0.70667 |   0.7   | 0.72667 | 0.70667 | 0.71333 | 0.71572 | 0.73579 | 0.71135 | 0.0138 |
+------------------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+--------+
Run time:   5.651693599999817  s

C:\Users\Alex_\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  if __name__ == '__main__':

In [23]:
print("My name is {Zihan Yu}")
print("My NetID is: {zihanyu3}")
print("I hereby certify that I have read the University policy on Academic Integrity and that I am not in violation.")

My name is {Zihan Yu}
My NetID is: {zihanyu3}
I hereby certify that I have read the University policy on Academic Integrity and that I am not in violation.